.MuiCollapse-wrapperInner .sun-editor{border: 1px solid #dadada !important; font-family: 'Viga', 'Godo', 'sans-serif'}
.MuiCollapse-wrapperInner .sun-editor-editable{padding: 16px 16px 0px 16px !important; font-family: 'Viga', 'Godo', 'sans-serif';}
.MuiCollapse-wrapperInner .sun-editor-editable pre{font-family: 'Viga', 'Godo', 'sans-serif';}