.sun-editor{border: 0; font-family: 'Viga', 'Godo', 'sans-serif'; width : 100% !important}
.sun-editor-editable{padding: 3px; font-family: 'Viga', 'Godo', 'sans-serif';}
.sun-editor-editable pre{font-family: 'Viga', 'Godo', 'sans-serif';}
.sun-editor .se-wrapper .se-wrapper-inner{min-height: 0;}
.sun-editor .se-resizing-bar{display : none}